In [1]:
%run Enficc.ipynb

Populating the interactive namespace from numpy and matplotlib

In [2]:
ser_dat ('Valledupar','IDEAM')

        AÑO  MES  DIA  HORA       IDEAM
0      2006    1    1     0    0.000000
1      2006    1    1     1    0.000000
2      2006    1    1     2    0.000000
3      2006    1    1     3    0.000000
4      2006    1    1     4    0.000000
5      2006    1    1     5    0.000000
6      2006    1    1     6    0.000000
7      2006    1    1     7   41.559251
8      2006    1    1     8  238.699288
9      2006    1    1     9  455.020517
10     2006    1    1    10  624.454387
11     2006    1    1    11  734.213434
12     2006    1    1    12  777.903929
13     2006    1    1    13  757.657114
14     2006    1    1    14  706.507267
15     2006    1    1    15  586.092001
16     2006    1    1    16  412.395644
17     2006    1    1    17  206.730633
18     2006    1    1    18   25.574924
19     2006    1    1    19    0.000000
20     2006    1    1    20    0.000000
21     2006    1    1    21    0.000000
22     2006    1    1    22    0.000000
23     2006    1    1    23    0.000000
24     2006    1    2     0    0.000000
25     2006    1    2     1    0.000000
26     2006    1    2     2    0.000000
27     2006    1    2     3    0.000000
28     2006    1    2     4    0.000000
29     2006    1    2     5    0.000000
...     ...  ...  ...   ...         ...
87618  2015   12   30    18   15.984655
87619  2015   12   30    19    0.000000
87620  2015   12   30    20    0.000000
87621  2015   12   30    21    0.000000
87622  2015   12   30    22    0.000000
87623  2015   12   30    23    0.000000
87624  2015   12   31     0    0.000000
87625  2015   12   31     1    0.000000
87626  2015   12   31     2    0.000000
87627  2015   12   31     3    0.000000
87628  2015   12   31     4    0.000000
87629  2015   12   31     5    0.000000
87630  2015   12   31     6    1.065644
87631  2015   12   31     7   45.822677
87632  2015   12   31     8  262.148338
87633  2015   12   31     9  501.918159
87634  2015   12   31    10  668.158568
87635  2015   12   31    11  540.281330
87636  2015   12   31    12  895.140665
87637  2015   12   31    13  885.549872
87638  2015   12   31    14  817.348679
87639  2015   12   31    15  657.502131
87640  2015   12   31    16  463.554987
87641  2015   12   31    17  225.916454
87642  2015   12   31    18   19.181586
87643  2015   12   31    19    0.000000
87644  2015   12   31    20    0.000000
87645  2015   12   31    21    0.000000
87646  2015   12   31    22    0.000000
87647  2015   12   31    23    0.000000

[87648 rows x 5 columns]